// Here you can add other styles

.show-card {
  .form-group {
    label {
      font-weight: bold;
    }
    .col-form-label {
      //background-color: #EFEFEF;
    }
  }
}

.menu_index_tree {
  border: none;

  tr td {
    border: none;
  }
}
